* {
  margin: 0;
  color: #fff;
  user-select: none;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #063386, #295ec0, #063386);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#board{
    width: 750px;
    height: 750px;
    position: relative;
}
img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.player{
    width: 75px;
    height: 75px;
    background-color: rgb(0, 255, 0);
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100%;
}
#player2{
    background-color: #295ec0;
}
#dice {
  width: 250px;
  height: 250px;
  background-color: #295ec0;
  box-shadow: 0px 0px 50px 0px #063386;
  border-radius: 12px;
  font-size: 128px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
