.modal{
    animation-name: modal;
    animation-duration: .5s;
    position: relative;
    margin: 0 5%;
    animation-fill-mode: forwards;
}
@keyframes modal {
    from{
        top: 0%;
        bottom: 0%;
    }
    to{
        top:25%;
        /* bottom:25%; */
    }
}